 .header{
    position:fixed;
    width:100vw;
    height: 40px;
    background-color: brown; 
 }
 .content{
   display:flex;
   flex-direction: column;
   width:100%;
   height: 100%;;
 }
 .divider{
   display:flex;
   flex-direction:row;
    width:100vw;
    height: calc(100vh - 40px);
   background-color: blanchedalmond;

 }
 .sidebar{
   position:fixed;
   top:40px;
   left:0;
   width: 100px;
   height:calc(100vh - 40px);
   background-color: aqua;
 }

 .container{
    margin-top:40px;
    width: calc(100vw - 100px);
    height: calc(100vh - 40px);
    background-color: rgb(84, 64, 64); 
 }
 .space{
   width: 100px;
   height: calc(100vh - 40px);;
 }
.scrollbox{
   width: 50px;
   height: 500px;
   background-color: bisque;
   color:rgb(61, 66, 71);
   margin-bottom: 10px;
 }
 body{
   width: 100%;
   height: 100%;
   margin:0px;
   padding:0px;
   display:flex;
   flex-direction: column;
 }