<!DOCTYPE html>#<html lang="en">
<head>  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hamburger</title>
    <link rel="stylesheet" href="../style/catastyle.css">
</head>
<body>
     <div class="navbar">
        <div class="navlogo">
            <a href="#" class="logoheader"><img src="burger.png" alt="burgerking" /></a>
        </div>
        <div class="navmenu">
          <a href="../component/burgercata.html" class="headertetxt">Menu</a>
          <a href="#" class="headertetxt">text</a>
          <a href="#" class="headertetxt">text</a>
          <a href="#" class="headertetxt">text</a>
          <a href="#" class="headertetxt">text</a>
          <a href="#" class="headertetxt">text</a>
          <button class="burgertag">clickme</button>
        </div>
    </div>


    <div class="webbody">        
        <div class="menu"> MENU</div>

        <div class="menutitle">
            <div class="menutagblog">
                <a class="menutag">suggestions</a>
                <a class="menutag">menu</a>
                <a class="menutag">beef</a>
                <a class="menutag">pork</a>
                <a class="menutag">chicken</a>
                <a class="menutag">fish</a>
            </div>
            <a class="menuskeyword">Menu key</a>                   
        </div>

        <div class="suggestionbox">
            <h1>Suggestions</h1>
            <ul class="suggestioncards">
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                 <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>

            </ul>    
        </div>
        <div class="suggestionbox">
             <h1>burger</h1>
            <ul class="suggestioncards">
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                 <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>

            </ul>    
        </div>
        <div class="suggestionbox">
            <h1>fruit</h1>
            <ul class="suggestioncards">
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                 <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
            </ul>  
        </div>
        <div class="suggestionbox">
            <h1>drink</h1>
            <ul class="suggestioncards">
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                 <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>
                <li class="suggestionitem"> 
                    <div class="suggestionitembox">
                        <div class="suggestionimg"><span><img src="../img/Screenshot 2025-10-19 002953.png" alt="img1"> </span></div>
                        <div class="suggestionText">This is a burger</div>
                        <a class="suggestionbutton"> $386 </a>
                    </div> 
                </li>

            </ul>    
        </div>
        
               
    <div class="footer">
            <div class="footerbox"> 
              <h1> Show box </h1>
              <p>Show box inside this folder and some suggestions</p>
            </div>
            <div class="footerbox2"></div>
            <div class="footerinside">
              <div class="foottext">
                <a href="#" class="foottext1">tests1</a>
                <a href="#" class="foottext1">tests2</a>
                <a href="#" class="foottext1">tests3</a>
              </div>
              <div class="foottext2">
                <div class="colbuttonitem">
                <div class="colbtn">X</div>
                <div class="colbtn">F</div>
                <div class="colbtn">I</div>
                <div class="colbtn">Y</div>
              </div>
              </div>
            </div>
        </div>
    </div>
</body>
</html>







