<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamburger</title>
    <link rel="stylesheet" href="../style/aa.css">
</head>
<body>
    <header>
        <div class="logo">Logo</div>
        <nav class="menu">
            <div class="bar">a</div>
            <div class="bar">b</div>
            <div class="bar">c</div>
            <div class="bar">d</div>
            <div class="bar">e</div>
            <div class="bar">f</div>
            <div class="bar">g</div>
            <div class="bar">h</div>
            <span  class="menuText">MENU</span>
        </nav> 
    </header>

    <main>
        <nav class="slider"></nav>

        <nav class="appAd">
            <div class="appAdCenterBox">
                <span class="adImg">adImg</span>
                <span class="adText">
                    <div class="adTitle">adTitle</div>
                    <div class="adDescription">adDescription</div>
                    <div class="adButtonItem">
                        <div class="adButton">cupon</div>
                        <div class="adButton">membership</div>
                        <div class="adButton">mobilehint</div>
                    </div>
                    <div class="downloadBox">
                        <div class="qrCode">
                            QrCode
                        </div>
                        <div class="downloadText">
                            <div class="downloadBtn">App Store</div>
                            <div class="downloadBtn">Google Play</div>
                        </div>
                    </div>
                </span>
            </div>
        </nav>
        <nav class="follow">
            <div class="icon">
                follow icon
            </div>
            <div class="textBox">
                <div class="title">Follow me!</div>

                <div class="buttonItem">
                    <div class="followButton">X</div>
                    <div class="followButton">F</div>
                    <div class="followButton">I</div>
                    <div class="followButton">Y</div>
                    <div class="followButton">T</div>
                </div>
             

            </div>
        </nav>
    </main>

    <footer>footer</footer>
</body>
</html>