<!DOCTYPE html>
<html lang="en">
<head>  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>loginJs practice</title>
    <link rel="stylesheet" href="../style/loginjs.css">
</head>
<body>
    <div class="container">
        <div class="first_part" >
            <input class="inputin" type="email" id="newsletterEmail" placeholder="Your email" required>
            <input class="inputin" type="password" id="newsletterpwd" placeholder="Your password" required>
            <div class="secpart">
               <label ><input type="checkbox" id="checked">Remember me</label>
               <button class="movebutton" type="button" id="loginclick">login</button>
            </div>
            <div class="thiedpart">
               <a herf="#" class="forgetpwd" id="forgetpwd">Forget password </a>
               <button>Sign in</button>
            </div>
            <div id="inner" class="white"></div>
        </div>
    </div>
    <script src="../controller/login.js"></script>
</body>